/* 
  ----------------------------------
  STYLES FOR THE ABOUT PAGE
  ----------------------------------
*/

/* Page Header */

.about-page__header {
  color: white;
  background-color: var(--color-deep-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.about-page__headline {
  font-size: 175%;
  margin-bottom: 1rem;
}

.about-page__subtext {
  font-size: 115%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-page__header {
    padding: 3rem;
  }
  .about-page__headline {
    font-size: 250%;
  }
  .about-page__subtext {
    font-size: 125%;
    text-align: center;
  }
}

/* About Page Nav */

.about-page__nav {
  margin: 2rem 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page__nav-link {
  text-decoration: none;
  color: var(--dark-text);
  transition: border-bottom 0.2s ease;
  border-bottom: 3px solid transparent;
  font-size: 1rem;
}

.about-page__nav-link:not(:last-child) {
  margin-bottom: 1rem;
}

.about-page__nav-link:hover {
  border-bottom: 3px solid var(--active-link);
}

.about-page__nav-link--active {
  border-bottom: 3px solid var(--active-link);
}

@media screen and (min-width: 768px) {
  .about-page__nav {
    flex-direction: row;
  }
  .about-page__nav-link:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1028px) {
  .about-page__nav {
    margin: 2rem 4rem;
    gap: 4rem;
  }
  .about-page__nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-page__nav {
    margin: 2rem 6rem;
    gap: 5rem;
  }
}

@media screen and (min-width: 1400px) {
  .about-page__nav {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .about-page__nav {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .about-page__nav {
    margin: 2rem 18rem;
  }
}

@media screen and (min-width: 2000px) {
  .about-page__nav {
    margin: 2rem 20rem;
  }
}

/* Introduction Section */

.about-page__intro-section {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page__intro-headline {
  font-size: 150%;
  margin-bottom: 1rem;
}

.about-page__intro-text-container {
  font-size: 100%;
}

.about-page__intro-text {
  margin-bottom: 1rem;
}

.about-page__intro-image-container {
  width: 100%;     
  max-width: 400px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about-page__intro-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .about-page__intro-section {
    margin: 2rem;
    flex-direction: row;
  }
  .about-page__intro-image-container {
    align-self: flex-start;
    width: 250px;
    height: 250px;
    padding-bottom: 0;
    flex-shrink: 0;
  }
  .about-page__intro-main-container {
    margin-right: 2rem;
  }
}

@media (min-width: 1028px) {
  .about-page__intro-section {
    margin: 2rem 4rem;
  }
}

@media (min-width: 1200px) {
  .about-page__intro-section {
    margin: 2rem 6rem;
  }
}

@media (min-width: 1500px) {
  .about-page__intro-section {
    margin: 2rem 12rem;
  }
}

/* Firm History Section */

.about-page__history-section {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page__history-headline {
  font-size: 150%;
  margin-bottom: 1rem;
}

.about-page__history-text-container {
  font-size: 100%;
}

.about-page__history-text {
  margin-bottom: 1rem;
}

.about-page__history-image-container {
  width: 100%;     
  max-width: 400px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about-page__history-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .about-page__history-section {
    margin: 2rem;
    flex-direction: row;
  }
  .about-page__history-image-container {
    width: 250px;
    height: 250px;
    padding-bottom: 0;
    flex-shrink: 0;
  }
  .about-page__history-main-container {
    margin-right: 2rem;
  }
}

@media (min-width: 1028px) {
  .about-page__history-section {
    margin: 2rem 4rem;
  }
}

@media (min-width: 1200px) {
  .about-page__history-section {
    margin: 2rem 6rem;
  }
}

@media (min-width: 1500px) {
  .about-page__history-section {
    margin: 2rem 12rem;
  }
}

/* Leadership Section */

.about-page__leadership-section {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page__leadership-headline {
  font-size: 150%;
  margin-bottom: 1rem;
}

.about-page__leadership-text-container {
  font-size: 100%;
}

.about-page__leadership-text {
  margin-bottom: 1rem;
}

.about-page__leadership-image-container {
  width: 100%;     
  max-width: 400px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about-page__leadership-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .about-page__leadership-section {
    margin: 2rem;
    flex-direction: row;
  }
  .about-page__leadership-image-container {
    align-self: flex-start;
    width: 250px;
    height: 250px;
    padding-bottom: 0;
    flex-shrink: 0;
  }
  .about-page__leadership-main-container {
    margin-right: 2rem;
  }
}

@media (min-width: 1028px) {
  .about-page__leadership-section {
    margin: 2rem 4rem;
  }
}

@media (min-width: 1200px) {
  .about-page__leadership-section {
    margin: 2rem 6rem;
  }
}

@media (min-width: 1500px) {
  .about-page__leadership-section {
    margin: 2rem 12rem;
  }
}

/* Core Values Section */

.about-page__values-section {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.about-page__values-card {
  margin-bottom: 1rem;
}

.about-page__values-headline {
  font-size: 150%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about-page__values-section {
    margin: 2rem
  }
}

@media (min-width: 1028px) {
  .about-page__values-section {
    margin: 2rem 4rem;
  }
}

@media (min-width: 1200px) {
  .about-page__values-section {
    margin: 2rem 6rem;
  }
}

@media (min-width: 1500px) {
  .about-page__values-section {
    margin: 2rem 12rem;
  }
}