/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE
  ----------------------------------
*/

/* Careers Page Header */

.careers-page__header {
  color: white;
  background-color: var(--color-deep-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.careers-page__headline {
  font-size: 175%;
  margin-bottom: 1rem;
}

.careers-page__subtext {
  font-size: 115%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .careers-page__header {
    padding: 3rem;
  }
  .careers-page__headline {
    font-size: 250%;
  }
  .careers-page__subtext {
    font-size: 125%;
    text-align: center;
  }
}


/* Careers Page Nav */

.careers-page__nav {
  margin: 2rem 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.careers-page__nav-link {
  text-decoration: none;
  color: var(--dark-text);
  transition: border-bottom 0.2s ease;
  border-bottom: 3px solid transparent;
  font-size: 1rem;
}

.careers-page__nav-link:not(:last-child) {
  margin-bottom: 1rem;
}

.careers-page__nav-link:hover {
  border-bottom: 3px solid var(--active-link);
}

.careers-page__nav-link--active {
  border-bottom: 3px solid var(--active-link);
}

@media screen and (min-width: 768px) {
  .careers-page__nav {
    flex-direction: row;
  }
  .careers-page__nav-link:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__nav {
    margin: 2rem 4rem;
  }
  .careers-page__nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__nav {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__nav {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__nav {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__nav {
    margin: 2rem 18rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__nav {
    margin: 2rem 20rem;
  }
}

/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (HOME)
  ----------------------------------
*/

/* Opening Section */

.careers-page__opening-section {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__opening-headline {
  font-size: 150%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.careers-page__opening-subheadline {
  font-size: 1rem;
  text-align: center;
  color: var(--color-forest-green);
  font-weight: 200;
  margin-bottom: 2rem;
}

.careers-page__opening-text {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .careers-page__opening-section {
    margin: 2rem 2rem;
  }
  .careers-page__opening-headline {
    font-size: 175%;
  }
  .careers-page__opening-subheadline {
    font-size: 1.2rem;
  }
  .careers-page__opening-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__opening-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__opening-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__opening-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__opening-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__opening-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__opening-section {
    margin: 2rem 16rem;
  }
}

/* Why Us Section */

.careers-page__why-us-section {
  margin: 2rem 1rem;
}

.careers-page__why-us-headline {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.careers-page__why-us-list {
  font-size: 1rem;
}

.careers-page__why-us-bold {
  font-weight: 600;
}

.careers-page__why-us-list-item {
  list-style: circle;
}

.careers-page__why-us-list-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .careers-page__why-us-section {
    margin: 2rem 2rem;
  }
  .careers-page__why-us-headline {
    font-size: 1.5rem;
  }
  .careers-page__why-us-list {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__why-us-section{
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__why-us-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__why-us-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__why-us-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__why-us-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__why-us-section {
    margin: 2rem 16rem;
  }
}


/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (OUR CULTURE)
  ----------------------------------
*/

.careers-page__highlights-section {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__highlights-headline {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.2rem;
}

.careers-page__highlights-subheadline {
  font-size: 1rem;
  text-align: left;
  color: var(--color-forest-green);
  font-weight: 200;
  margin-bottom: 1rem;
}

.careers-page__highlights-list {
 font-size: 1rem;
}

.careers-page__highlights-list-item {
  list-style: circle;
}

@media screen and (min-width: 768px) {
  .careers-page__highlights-section {
    margin: 2rem 2rem;
  }
  .careers-page__highlights-headline {
    font-size: 1.5rem;
  }
  .careers-page__opening-subheadline {
    font-size: 1.2rem;
  }
  .careers-page__highlights-list {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__highlights-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__highlights-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__highlights-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__highlights-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__highlights-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__highlights-section {
    margin: 2rem 16rem;
  }
}


/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (BENEFITS & PERKS)
  ----------------------------------
*/




/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (APPLICATION PROCESS)
  ----------------------------------
*/

.careers-page__applications-list-headline {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .careers-page__applications-list-headline {
    font-size: 1.2rem;
  }
}