/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE
  ----------------------------------
*/

/* Careers Page Header */

.careers-page__header {
  color: white;
  background-color: var(--color-deep-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.careers-page__headline {
  font-size: 175%;
  margin-bottom: 1rem;
}

.careers-page__subtext {
  font-size: 115%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .careers-page__header {
    padding: 3rem;
  }
  .careers-page__headline {
    font-size: 250%;
  }
  .careers-page__subtext {
    font-size: 125%;
    text-align: center;
  }
}


/* Careers Page Nav */

.careers-page__nav {
  margin: 2rem 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.careers-page__nav-link {
  text-decoration: none;
  color: var(--dark-text);
  transition: border-bottom 0.2s ease;
  border-bottom: 3px solid transparent;
  font-size: 1rem;
}

.careers-page__nav-link:not(:last-child) {
  margin-bottom: 1rem;
}

.careers-page__nav-link:hover {
  border-bottom: 3px solid var(--active-link);
}

.careers-page__nav-link--active {
  border-bottom: 3px solid var(--active-link);
}

@media screen and (min-width: 768px) {
  .careers-page__nav {
    flex-direction: row;
  }
  .careers-page__nav-link:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__nav {
    margin: 2rem 4rem;
  }
  .careers-page__nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__nav {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__nav {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__nav {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__nav {
    margin: 2rem 18rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__nav {
    margin: 2rem 20rem;
  }
}

/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (HOME)
  ----------------------------------
*/

/* Opening Section */

.careers-page__opening-section {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__opening-headline {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.careers-page__opening-subheadline {
  font-size: 1rem;
  text-align: center;
  color: var(--color-forest-green);
  font-weight: 200;
  margin-bottom: 2rem;
}

.careers-page__opening-text {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .careers-page__opening-section {
    margin: 2rem 2rem;
  }
  .careers-page__opening-headline {
    font-size: 2rem;
  }
  .careers-page__opening-subheadline {
    font-size: 1.3rem;
  }
  .careers-page__opening-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__opening-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__opening-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__opening-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__opening-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__opening-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__opening-section {
    margin: 2rem 16rem;
  }
}

/* Why Us Section */

.careers-page__why-us-section {
  margin: 2rem 1rem;
}

.careers-page__why-us-headline {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.careers-page__why-us-list {
  font-size: 1rem;
}

.careers-page__why-us-bold {
  font-weight: 600;
}

.careers-page__why-us-list-item {
  list-style: circle;
}

.careers-page__why-us-list-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .careers-page__why-us-section {
    margin: 2rem 2rem;
  }
  .careers-page__why-us-headline {
    font-size: 1.75rem;
  }
  .careers-page__why-us-list {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__why-us-section{
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__why-us-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__why-us-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__why-us-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__why-us-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__why-us-section {
    margin: 2rem 16rem;
  }
}

/* Life Section */

.careers-page__life-section {
  margin: 2rem 1rem;
}

.careers-page__life-headline {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.careers-page__life-text {
  font-size: 1rem;
}

.careers-page__life-text:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .careers-page__life-section {
    margin: 2rem 2rem;
  }
  .careers-page__life-headline {
    font-size: 1.75rem;
  }
  .careers-page__life-text {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__life-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__life-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__life-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__life-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__life-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__life-section {
    margin: 2rem 16rem;
  }
}

/* Life Section */

.careers-page__spotlight-section {
  margin: 2rem 1rem;
}

.careers-page__spotlight-headline {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.careers-page__spotlight-quote,
.careers-page__spotlight-name {
  font-size: 1rem;
}

.careers-page__spotlight-name {
  font-weight: 300;
  color: var(--color-forest-green);
}

@media screen and (min-width: 768px) {
  .careers-page__spotlight-section {
    margin: 2rem 2rem;
  }
  .careers-page__spotlight-headline {
    font-size: 1.75rem;
  }
  .careers-page__spotlight-quote,
  .careers-page__spotlight-name {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__spotlight-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__spotlight-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__spotlight-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__spotlight-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__spotlight-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__spotlight-section {
    margin: 2rem 16rem;
  }
}



/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (OUR CULTURE)
  ----------------------------------
*/

.careers-page__highlights-section {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__highlights-headline {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.2rem;
}

.careers-page__highlights-subheadline {
  font-size: 1rem;
  text-align: left;
  color: var(--color-forest-green);
  font-weight: 200;
  margin-bottom: 1rem;
}

.careers-page__highlights-list {
 font-size: 1rem;
}

.careers-page__highlights-list-item {
  list-style: circle;
}

@media screen and (min-width: 768px) {
  .careers-page__highlights-section {
    margin: 2rem 2rem;
  }
  .careers-page__highlights-headline {
    font-size: 1.75rem;
  }
  .careers-page__highlights-subheadline {
    font-size: 1.2rem;
  }
  .careers-page__highlights-list {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__highlights-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__highlights-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__highlights-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__highlights-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__highlights-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__highlights-section {
    margin: 2rem 16rem;
  }
}


/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (BENEFITS & PERKS)
  ----------------------------------
*/


/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (CURRENT OPENINGS)
  ----------------------------------
*/

.careers-page__positions-section {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__positions-headline {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.careers-page__positions-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.careers-page__positions-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.careers-page__positions-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.careers-page__positions-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--color-deep-teal);
}

.careers-page__positions-card-bold {
  font-weight: 600;
}

.careers-page__positions-card-experience,
.careers-page__positions-card-type,
.careers-page__positions-card-description  {
  font-size: 0.95rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  line-height: 1.5;
}

.careers-page__positions-card-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.careers-page__positions-error {
  font-size: 1rem;
  text-align: center;
}

.careers-page__positions-error-link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .careers-page__positions-section {
    margin: 2rem 2rem;
  }
  .careers-page__positions-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .careers-page__positions-headline {
    font-size: 1.75rem;
  }
  .careers-page__positions-card-title {
    font-size: 1.5rem;
  }
  .careers-page__positions-card-experience,
  .careers-page__positions-card-type,
  .careers-page__positions-card-description {
    font-size: 1.05rem;
  }
  .careers-page__positions-error {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__positions-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__positions-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__positions-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__positions-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__positions-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__positions-section {
    margin: 2rem 16rem;
  }
}

/* How to apply section */

.careers-page__how-to-apply-section {
  margin: 2rem 1rem;
}

.careers-page__how-to-apply-headline {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.careers-page__how-to-apply-text {
  font-size: 1rem;
}

.careers-page__how-to-apply-text:not(:last-child) {
  margin-bottom: 0.5rem;
}

.careers-page__link {
  text-decoration: none;
  color: var(--color-deep-teal);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in;
}

.careers-page__link:hover {
  border-bottom: 2px solid var(--color-deep-teal);
}

@media screen and (min-width: 768px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 2rem;
  }
  .careers-page__how-to-apply-headline {
    font-size: 1.75rem;
  }
  .careers-page__how-to-apply-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__how-to-apply-section {
    margin: 2rem 16rem;
  }
}

/* 
  ----------------------------------
  STYLES FOR THE CAREERS PAGE (APPLICATION PROCESS)
  ----------------------------------
*/

/* Applications Section */

.careers-page__applications-section {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__applications-headline {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.2rem;
}

.careers-page__applications-subheadline {
  font-size: 1rem;
  text-align: left;
  color: var(--color-forest-green);
  font-weight: 200;
  margin-bottom: 1rem;
}

.careers-page__applications-text {
  font-size: 1rem;
}

.careers-page__applications-text:not(:last-child) {
  margin-bottom: 1rem;
}

.careers-page__applications-list-heading {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.careers-page__applications-list {
 font-size: 1rem;
}

.careers-page__applications-list-item {
  list-style: circle;
}

@media screen and (min-width: 768px) {
  .careers-page__applications-section {
    margin: 2rem 2rem;
  }
  .careers-page__applications-headline {
    font-size: 1.75rem;
  }
  .careers-page__applications-subheadline,
  .careers-page__applications-text,
  .careers-page__applications-list-heading {
    font-size: 1.2rem;
  }
  .careers-page__applications-list {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__applications-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__applications-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__applications-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__applications-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__applications-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__applications-section {
    margin: 2rem 16rem;
  }
}

/* What to Expect Section */

.careers-page__what-to-expect-section{
  font-size: 1rem;
  margin: 2rem 1rem;
}

.careers-page__what-to-expect-headline {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1rem;
}

.careers-page__what-to-expect-subheadline {
  font-size: 1rem;
  text-align: left;
  color: var(--color-forest-green);
  font-weight: 200;
  margin-bottom: 1rem;
}

.careers-page__applications-list {
 font-size: 1rem;
}

.careers-page__applications-list-item {
  list-style: decimal;
}

@media screen and (min-width: 768px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 2rem;
  }
  .careers-page__what-to-expect-headline {
    font-size: 1.75rem;
  }
  .careers-page__applications-subheadline,
  .careers-page__applications-text {
    font-size: 1.2rem;
  }
  .careers-page__applications-list {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1028px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 12rem;
  }
}

@media screen and (min-width: 1800px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 14rem;
  }
}

@media screen and (min-width: 2000px) {
  .careers-page__what-to-expect-section {
    margin: 2rem 16rem;
  }
}

/* Next Steps Section */