/* 
  ----------------------------------
  STYLES FOR THE EXPERTISE COMPONENT
  ----------------------------------
*/

/* Hero Section */

.expertise-component__hero-section {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.expertise-component__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Link Section */

.expertise-component__link-section {
    margin: 2rem 1rem;
    color: #333;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.expertise-component__link-section a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.expertise-component__link-section a:hover {
    color: #007bff;
}

/* Description Section */

.expertise-component__description-section {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.expertise-component__description-headline {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 175%;
    font-weight: 600;
}

.expertise-component__description-paragraph {
    text-align: center;
    font-size: 100%;
    margin-bottom: 1rem;
}

@media screen and (min-width: 568px) {
    .expertise-component__link-section {
        margin: 2rem 2rem;
    }
    .expertise-component__description-section {
        margin: 2rem 2rem;
    }
}

@media screen and (min-width: 768px) {
    .expertise-component__link-section {
        margin: 2rem 4rem;
    }
    .expertise-component__description-section {
        margin: 2rem 4rem;
    }
    .expertise-component__description-headline {
        font-size: 250%;
    }
    .expertise-component__description-paragraph {
        font-size: 115%;
    }
}

@media screen and (min-width: 1028px) {
    .expertise-component__link-section {
        margin: 2rem 8rem;
    }
    .expertise-component__description-section {
        margin: 2rem 8rem;
    }
}

@media screen and (min-width: 1500px) {
    .expertise-component__link-section {
        margin: 2rem 10rem;
    }
    .expertise-component__description-section {
        margin: 2rem 10rem;
    }
}

/* Project Section */

.expertise-component__project-section {
    margin: 2rem;
}

/* Contact Section */

.expertise-component__contact-section {
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/contactBackground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.expertise-component__contact-headline {
    font-size: 175%;
    margin-bottom: 1rem;
}

.expertise-component__contact-subheadline {
    font-size: 100%;
    margin-bottom: 2rem;
}

.expertise-component__contact-button {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: none;
    background-color: #683257;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.expertise-component__contact-button a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .expertise-component__contact-headline {
        font-size: 250%;
    }
    .expertise-component__contact-subheadline {
        font-size: 115%;
    }
}

@media screen and (min-width: 1028px) {
    .expertise-component__contact-section {
        padding: 4rem 2rem;
    }
    .expertise-component__contact-headline {
        margin-bottom: 2rem;
    }
}