/* 
  ----------------------------------
  STYLES FOR THE CORE VALUE CARD
  ----------------------------------
*/

.core-value__card-container {
    padding: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.core-value__headline {
    margin-bottom: 0.5rem;
}

.core-value__headline {

}