/* 
  ----------------------------------
  GLOBAL STYLES
  ----------------------------------
*/

:root {
  --main-background: white;
  --dark-text: black;
  --light-text: white;
  --active-link: blue;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  list-style-type: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
